{{template "base" .}}

{{define "content"}}
<div class="row">
    <div class="col">
        <h1 class="mt-3">About Fashion</h1>
        <hr>

        <p>Being a fashion model is amazing</p>
        <img style="max-width: 400px; padding: 5px;" src="/static/images/fashion-model.jpg">   
    </div>
</div>

{{end}}